// Google font-size
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Partials
@import 'colors';
@import 'buttons';
@import 'grid';

// Mixins
@mixin margin-nav {
  margin-top: 3.5rem;
}

// Font Variables
$font-family: "Roboto", sans-serif;

// Selectors
html {
  font-size: 1em;
  font-family: $font-family;
  //box-sizing: border-box;
}

body {
  @include text-color();
  background-color: theme-color('background');
}

/**, *::before, *::after {
  box-sizing: inherit;
}*/

.navbar {
  width: 100%;
  position: fixed;
  top: 0;

  h3 {
    margin: 0;
    padding: 1rem;
  }
}

.pane {
  @include margin-nav;
}

.content {
  @include margin-nav;
}

.content-resume {
  @include margin-nav;
  padding: 0 25%;
}

footer {
  text-align: center;

  h3 {
    margin: 0;
  }

  button {
    padding: 0;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
  }

  &.col {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: block;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5rem;
}

.chronology {
  border: 1px solid theme-color('accent');
  border-radius: 5px;
  color: theme-color('accent');
  margin: 1rem;
  width: fit-content;
  padding: 5rem;

  h3 {
    margin: 0rem;
  }
  h6 {
    margin: 0.5rem 0rem 0rem 0rem;
  }
  h4 {
    margin: 1rem 0rem 0rem 0rem;
  }
}

img.resize {
  max-width: 50%;
  max-height: 50%;
}

.left-right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jumbotron {
  text-align: center;
  height: 100vh;
}

.section {

}

.section-alt {
  background-color: theme-color();
}

.center-content {
  color: theme-color('foreground');
  text-align: center;
  height: 90vh;
  h1 {
    font-size: 4em;
  }

  p {
    font-size: 2em;
  }
}

.center-content-grey {
  background-color: theme-color();
  color: theme-color('accent');
  text-align: center;
  height: 90vh;
  h1 {
    font-size: 4em;
  }

  p {
    font-size: 2em;
  }
}

.center-content-wrap {
  text-align: center
}

.active {
  opacity: 0.6;
}

.horivert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.panel-show {
  max-height: 6.5rem;
  overflow: hidden;
  -webkit-transition: max-height 0.4s ease-out;
  transition: max-height 0.4s ease-out;
}

.panel-hide {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.4s ease-out;
  transition: max-height 0.4s ease-out;
}
